@media (min-width: 681px) {
  header img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 40px;
    margin-left: 50%;
  }
  body {
    background-color: white;
    font-family: "Roboto", sans-serif;
  }

  ul {
    list-style: none;
    font-size: xx-large;
    font-family: monospace;
    text-align: center;
  }

  img {
    width: 600px;
    height: 600px;
    float: left;
  }

  .first-paragraph {
    font-size: 40px;
    margin: 20px;
    width: 400px;
  }

  .first-paragraph img {
    width: 500px;
    height: 500px;
  }

  .first-paragraph span {
    color: green;
  }

  .first-photo {
    font-size: large;
    margin-left: 100px;
    float: left;
  }
  .second-photo {
    font-size: large;
    float: right;
    margin-right: 50px;
  }
}

@media (max-width: 681px) {
  header img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 40px;
  }
  body {
    background-color: white;
    font-family: "Roboto", sans-serif;
  }

  ul {
    list-style: none;
    font-size: xx-large;
    font-family: monospace;
    text-align: center;
  }

  img {
    width: 350px;
    height: 350px;
  }

  .first-paragraph {
    font-size: 40px;
    margin: 20px;
    width: 400px;
  }

  .first-paragraph img {
    width: 500px;
    height: 500px;
  }

  .first-paragraph span {
    color: green;
  }

  .first-photo {
    font-size: large;
    margin: 40px;
  }
  .second-photo {
    font-size: large;
    margin: 40px;
  }
}
